html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

html {
    background-color: black;
}

button {
    padding: 0px;
}

body {
    margin: 0px 0px;
    position: relative;
}

h2, p {
    margin: 0px;
    padding: 0px;
}

.overflow_wrapper {
    position: relative;
}

@media only screen and (max-width: 600px) { /* for mobile */
    body {
        margin: 0px;
    }
}

p {
    color: white;
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
}


/*.content p {
    /*top :50%;
    left: 50%;
    transition: translate(-50%, -50%);
}*/

