html {
    background-color: black;
}

body {
    margin: 8px 0px;
    position: relative;
}

.overflow_wrapper {
    position: relative;
}

@media only screen and (max-width: 500px) { /* for mobile */
    body {
        margin: 0px;
    }
}

p {
    color: white;
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
}
