.header {
    display: block;
    text-align: center;
    /*margin-bottom: -15px;*/
    top: 0px;
}

.header #logo {
    height:100%;
}

.header .text {
    box-shadow: 0px;
    text-decoration: none;
}

h1 {
    color:white;
    text-align: center;
    padding: 0;
}
.header a:link {
    box-shadow: 0px;
    text-decoration: none;
}

.header h1 {
    color: white;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    box-shadow: 0px;
    text-decoration: none;

    font-size: calc(3vw + 0.85vh);
    letter-spacing: 0.25em;
}

/*Link {
    text-decoration: none;
}*/

@media only screen and (max-width: 600px) { /* for mobile */
    .overflow_wrapper {
        overflow-x: hidden !important;
    }

    .total_header {
        height: calc(10vh + 10vw);
    }
    
    .header {
        height: 100%;
    }

    .buttons {
        display: none;
    }

    .header .text {
        padding: 0;
        margin-left: 0.5em;
    }

    .header .image {
        height:50%;
        margin:8px;
    }

    .header h1 {
        font-size: calc(calc(10vh + 10vw) * 0.2);
        letter-spacing: 0.25em;

    }

}

@media only screen and (min-width: 600px) { /* for desktop */
    .header {
        height: 100%;
    }

    .total_header {
        background: black;
        height: calc(7vh + 2vw);
        margin: 1% 0px;
    }

    .navigation {
        top:0;
        position:sticky;
        position:-webkit-sticky;
        z-index: 10;
        background: black;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .hamburger {
        display: none;
    }

    .header .image {
        height: 45%;
        margin: 0px;
    }

    .header h1 {
        font-size: calc(calc(7vh + 2vw) * .5);
        letter-spacing: 0.25em;
        margin: 0px;
    }


    .buttons {
        top: 0;
        display: flex;
        /* Padding when there are 4 buttons */
        /* padding-left: 0.5vw;
        padding-right: 0.5vw; */
        padding-left: 8vw;
        padding-right: 8vw;
        justify-content: space-between;
        position: -webkit-sticky;
        position: sticky;
        background: black;
        z-index: 6;
    }
    
    
    button.navbutton {
        display: inline-block;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        background: black;
        color: white;
        border-color: white;
        border-width: 0.1em;
        height:2.4em;
        width:16vw;
        font-size: 1.1vw;
        font-family: acumin-pro-wide, sans-serif;
        font-weight: 100;
        font-style: normal;
        text-align: center;
        letter-spacing: 0.2em;
        margin-right: 0.78vw;
        margin-left: 0.78vw;
        max-width: 100%;
        top:0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 5;
        margin-top: -0.01%;
    
    }
    
    button.navbutton:hover {
        background: white;
        border-color: black;
        color: black;
        font-weight:500;
        letter-spacing:0.21em;
    }
}


