.image-cropper {
    position: relative;
}

.tech-intro {
    position: relative;
    width: 100%;
}

.background1 {
    background: url(../../images/sunset.jpg);
    position: relative;
    background-attachment: fixed;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

.background2 {
    background: url(../../images/code.jpg);
    position: relative;
    background-attachment: fixed;

    height: 100vh;
    width: 100vw;
}

.layer {
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yale {
    color: white /*#67abe6*/ !important;
    white-space: nowrap;
}

.oracle {
    color: white /*#e61e26*/ !important;
    white-space: nowrap;
}

.tester {
    height: 1000px;
}

p a:link {
    color: white;
    text-decoration: underline;
}

p a:visited {
    color: #969696;
    text-decoration: underline;
}

p a:hover {
    color: #9f70b5;
    transition: color 1s;
}


.subheader h2 {
    color: white;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    text-decoration: underline;

    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}




@media only screen and (max-width: 600px) { /* for mobile */
    .background1 {
        margin-top: 1%;
    }

    .background2 {
        margin-top: -20px;
    }
    
    .image-cropper {
        height: calc(20vh + 20vw);
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-top: 30px;

    }

    .tech-intro {
        display: block;
        height: 100vh;
    }
    img.headshot {
        margin:auto;
        height: 100%;
    }
    
    .bio {
        padding: 1em;
    }

    p {
        text-align: center;
        font-size: calc(1.6vw + 1vh);
    }

    .subheader {
        height: 20vh;
        width: 100vw;
    }

    .subheader h2 {
        font-size: calc(8vw + 0.85vh);
    }

    .contactme {
        height: 25vh;
        width: 100vw;
    }

    .contactme img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .contactme p {
        letter-spacing: 0.25em;
        font-size: calc(2vw + 1vh);
    }
}

@media only screen and (min-width: 600px) { /* for desktop */

    .background2 {
       margin-top: -6em;
       height: 100vh + 6em;
    }
    .tech-intro {
        height: 100vh;
    }

    .image-cropper {
        height: 30vw;
        width: 30vw;
        float: left;
        margin: 0 2vw;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);

    }

    img.headshot {
        margin: 0 auto;
        height: 100%;
        position: absolute;
        left: 50%;
        transform:translate(-50%, 0%);
    }


    .bio {
        float:right;
        text-align: left;
        width: 60vw;
        height: 100%;

        position: absolute;
        top: 50%;
        transform: translate(60%, -50%);
    }

    .bio p {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin: 1vw;
        font-size: calc(1.25vw + 1vh);
    }

    .subheader {
        margin-top: calc(2.4em + 5%);
        height: 20vh;
        width: 100vw;
        text-align: center;
    }

    .subheader h2 {
        font-size: calc(8vw + 0.85vh);
    }

    .contactme {
        height: 20vh;
        width: 100vw;
        text-align: center;
        margin: 5vh auto;

    }

    .contactme img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60%;
    }

    .contactme p {
        letter-spacing: 0.25em;
        font-size: calc(2vw + 1vh);

        margin: 3px auto;
    }
    
}
