.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.section-title {
    margin: 10px 0;
    font-family: acumin-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: calc(1.75vw + 1.1vh);
    background-color: red;
    color: black;
    border-radius: 5px;
}

.d3-example {
    border-radius: 5px;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mySlides {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    margin: 1em;
}

@media only screen and (min-width: 600px) {
    .mySlides.film {
        width: 725px;
    }

    .film iframe {
        width: 725px;
        height: 625px;
    }

    .mySlides.supreme {
        width: 500px;
    }

    .supreme iframe {
        width: 500px;
        height: 325px;
    }

    .mySlides.bars {
        width: 625px;
    }

    .bars iframe {
        width: 625px;
        height: 325px;
    }

    .mySlides.map {
        width: 500px;
    }

    .map iframe {
        width: 500px;
        height: 325px;
    }
}

@media only screen and (max-width: 600px) { /*for mobile*/
    .mySlides.film {
        width: 80vw;
    }

    .film iframe {
        width: 100%;
    }

    .mySlides.supreme {
        width: 80vw;
    }

    .supreme iframe {
        width: 100%;
    }

    .mySlides.bars {
        width: 80vw;
    }

    .bars iframe {
        width: 100%;
    }

    .mySlides.map {
        width: 80vw;
    }

    .map iframe {
        width: 100%;
    }
}




.caption {
    color: white;
    font-family: acumin-pro-semi-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 1em;
}


