.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publication-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 83vw;
    background-color: white;
    border-radius: 5px;

    margin: 0.5em;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail img {
    border-radius: 7%;
}

.article-details {
    width: 75%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-name h2 {
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.article-date p {
    color: black;
}

.content.publications a:link {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.content.publications a:visited {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.content.publications a:hover {
    color: #9f70b5;
    transition: color 0.5s;
}

@media only screen and (max-width: 600px) { /* for mobile */
    .publication-section {
        height: 25vh;
        flex-direction: column;
        align-items: center;
    }

    .thumbnail {
        height: 65%;
        width: 100%;
    }

    .thumbnail img {
        height: 85%;
    }

    .article-details {
        height: 35%;
        align-items: center;
        text-align: center;
    }

    .article-name h2 {
        
        font-size: calc(2.2vw + 1vh);
    }

    .article-date p {
        font-size: calc(1vw + 0.75vh);
    }
}

@media only screen and (min-width: 600px) and (max-width: 1440px) { /* for tablets */
    .publication-section {
        height: 18vh;
    }

    .thumbnail {
        width: 25%;
    }

    .thumbnail img {
        height: 80%;
        max-height: 10vh;
    }

    .article-details {
        width: 75%;
    }

    .article-name h2 {
        font-size: calc(1.5vw + 0.7vh);
    }

    .article-date p {
        font-size: calc(0.8vw + 0.75vh);
    }
}

@media only screen and (min-width: 1440px) { /* for desktop */
    .publication-section {
        height: 20vh;
        flex-direction: row;
    }

    .thumbnail {
        width: 25%;
    }

    .thumbnail img {
        height: 80%;
        max-height: 18vh;
    }

    .article-details {
        width: 75%;
    }

    .article-name h2 {
        font-size: calc(1.5vw + 0.7vh);
    }

    .article-date p {
        font-size: calc(0.8vw + 0.75vh);
    }
}