

.section {
    width: 100%;
    display: block;
}

.section-header {
    background: white;
    height: calc(5vh + 0.5vw);
    display: flex;
    align-items: center;
}

.section-header h2 {
    color: black;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.section-content {
    display: flex;
}

.experience-main {
    flex: 1;

    display: flex;
}


.experience-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-main-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-title {
    width: 100%;
}


.experience-title h3{
    color: white;
    font-family: acumin-pro-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.experience-title h3 span {
    font-size: calc(0.75vw + 0.5vh);
}


.experience-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-description ul{
    color: white;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.experience-description h3 {
    color: white;
    font-family: acumin-pro-condensed, sans-serif;
    font-weight: 600;
    font-style: italic;

    margin-left: -2rem;
}

.experience-description ul li span .italic {
    font-style: italic;
}

@media only screen and (max-width: 600px) { /* for mobile */
    .section-header {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        justify-content: center;
    }

    .section-header h2 {
        font-size: calc(2.5vw + 1vh);
        letter-spacing: 0.25em;
    }

    .section-content {
        height: 80vh;
        width: 90vw;
        margin: 1em 5vw;
    
        display: flex;
        flex-direction: column;
    }

    .experience-main {
        height: 60%;
        flex-direction: column;
    }

    .experience-logo {
        height: 75%;
    }

    .experience-logo img {
        height: 90%;
    }

    .experience-main-text {
        flex: 1;
        width: 100%;
        text-align: center;
    }

    .experience-title h3{
        font-size: calc(3vw + 2.1vh);
    }

    .experience-title h3.dsha {
        font-size: calc(3vw + 1.3vh);
    }

    .experience-date p{
        font-size: calc(2vw + 1.1vh);
    }

    .experience-description {
        flex: 1;
        margin-left: 2em;
        
    }

    .job {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .experience-description ul{
        font-size: calc(3vw + 1.5vh);
        letter-spacing: 0.07em;
    }

    .experience-description .job ul{
        font-size: calc(2.3vw + 0.75vh);
    }

    .experience-description h3 {
        font-size: calc(4vw + 1.1vh);
        text-align: center;
    }
}
    

@media only screen and (min-width: 600px) { /* for desktop */
    .section-header {
        width: 97vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        justify-content: left;
    }

    .section-header h2 {
        margin-left: 1em;
        font-size: calc(2vw + 1vh);
        letter-spacing: 0.15em;

    }

    .section-content {
        height: 23vh;
        width: 97vw;
        margin: 1em 1.5vw;
    
        flex-direction: row;
    }

    .education {
        height: 17vh;
    }

    .experience-main {
        height: 100%;
        flex-direction: row;
    }

    .experience-logo {
        height: 100%;
        flex: 1;
    }

    .experience-logo img {
        width: 90%;
    }

    .education .experience-logo img {
        height: 75%;
        width: auto;
    }

    .experience-main-text {
        flex: 2;
        height: 100%;
        padding: 0px 2em;
    }

    .experience-title h3{
        font-size: calc(1.2vw + 1.1vh);
    }

    .experience-title h3.dsha {
        font-size: calc(1.5vw + 0.5vh);
    }

    .experience-date p{
        font-size: calc(0.25vh + 1.5vw);
    }

    .experience-description {
        margin-left: 2em;
        padding: 1em;
        flex: 1.5;
    }


    .experience-description ul{
        font-size: calc(0.8vw + 0.75vh);
        letter-spacing: 0.07em;
    }

    .experience-description h3 {
        font-size: calc(1.75vw + 1.1vh);
    }
}
